DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/basic_rag

# gemini
GOOGLE_API_KEY=your_google_api_key
GEMINI_CHAT_MODEL=gemini-2.5-flash
GEMINI_EMBEDDING_MODEL=text-embedding-004

# app config
APP_NAME=Basic RAG
APP_ENV=development
APP_DEBUG=true
APP_HOST=127.0.0.1
APP_PORT=8000

# file uploads
UPLOAD_DIRECTORY=uploads
MAX_UPLOAD_SIZE_MB=20

# retireval
DEFAULT_TOP_K=5
SIMILARITY_THRESHOLD=0.7

# loggin
LOG_LEVEL=INFO

# API
API_V1_PREFIX=/api/v1